# Where the marketing site sends visitors who click "Get Started" / "Start
# Free Trial" / "Sign in as enterprise". Override per environment to point
# at staging / production hostnames.
VITE_ENTERPRISE_URL=http://localhost:3002
VITE_RESIDENTS_URL=http://localhost:3005
